{
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["prettier-plugin-tailwindcss"],
  "prettier-plugin-tailwindcss": {
    "tailwindConfig": "./tailwind.config.js",
    "options": {
      "tailwindAttributes": ["myClassList"],
      "tailwindFunctions": ["clsx", "tw"]
    }
  }
}
